*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
    background: #0c0c33; 
}

body{
    overflow-x: hidden;
}

/** Pagina login **/
    .logo{
        position: absolute;
        top: -25px;
    }

    .box-login{
        box-shadow: 16px 16px 8px rgb(8, 0, 27);
        border-radius: 4%;
        max-width: 650px;
        width: 95%;
        padding: 50px 2%;
        background: rgb(20, 23, 68);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .box-login h2{
        color: whitesmoke;
        text-align: center;
        margin-bottom: 8px;
        font-size: 30px;
        font-weight: lighter;
    }

    .box-login input[type=text], .box-login input[type=password]{
        width: 100%;
        border-radius: 4px;
        height: 40px;
        border: 1px solid #ccc;
        padding-left: 8px;
        margin-top: 8px;
    }

    .box-login input[type=submit]{
        width: 100%;
        height: 40px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
        background: #0a927b;
        border: 0;
        font-size: 20px;
        font-weight: lighter;
        color: white;
        transition: all 0.8s;
    }

    .box-login input[type=submit]:hover{
        background: #009650;
    }    

    .form-group-login label{
        padding-right: 5px;
        font-size: 13px;
        font-weight: 300;
        color: white;
    }

    form .form-group-login:nth-of-type(2){
        position: relative;
        top: 10px;
    }
    
    /* box-erro painel*/
        .box-erro{
            text-align: center;
            height: 25px;
            border-radius: 10px;
            margin-bottom: 10px;
            font-weight: 300;
            font-size: 16px;
            background: rgb(155, 33, 33);
            color: white; 
        }
    /* box-erro painel*/
/** Fim Página login **/

/** Página main **/

    /* BOOT CSS */
        .W100{
            width: 100%;
        }
        .W50{
            width: 49%;
        }
        .W33{
            width: 33.3%;
        }
        .left{
            float: left;
        }
        .right{
            float: right;
        }
    /* BOOT CSS */

    .clear{clear: both;}

    .center{
    padding: 0 2%;
    margin: 0 auto;}

    ::-webkit-scrollbar{
        background-color: #372258;
        width: 12px;
    }

    ::-webkit-scrollbar-thumb{
        background: #201433;
        border: #4d4d7e 1px solid;
    }

    .menu{
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #b0bec5;
        background: #0b0841; /* mais claro: #1a237e */ 
        padding: 10px, 0;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        float: left;
        width: 250px;
    }

    .menu-wraper{
        width: 250px;
    }

    .box-usuario{
        text-align: center;
    }

    .avatar-usuario{
        margin-top: 5px;
        text-align: left;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: inline-block;
        background: #607d8b;
    }

    .imagem-usuario img{
        margin-top: 5px;
        text-align: left;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid darkcyan;
    }

    .avatar-usuario i{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 50px;
        color: white;
    }

    .nome-usuario{
        text-align: center;
        margin-top: 10px;
    }

    .nome-usuario p{
        color: whitesmoke;
        font-size: 16px;
        font-weight: 400;
    }

    .items-menu{
        margin-top: 30px;
    }

    .items-menu h2{
        text-align: left;
        font-weight: 300;
        font-size: 18px;
        background-color: #000025;
        color: white;
        padding: 8px;
    }

    .items-menu a{
        display: block;
        padding: 8px;
        font-weight: 300;
        font-size: 15px;
        text-decoration: none;
        color: white;
        border-bottom: 1px solid rgb(163, 163, 163);
    }

    header{
        position: relative;
        left: 250px;
        padding: 25px 0;
        background: #101042;
        border-bottom: 1px solid #b0bec5;
        width: calc(100% - 250px);
    }

    .loggout{
        float: right;
    }

    .loggout a{
        color: white;
        font-size: 16px;
        text-decoration: none;
    }

    .loggout a > span{
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    .menu-btn{
        float: left;
        cursor: pointer;
        font-size: 18px;
        color: white;
    }

    /* Conteúdo pg main */
        .content{
            width: calc(100% - 250px);
            margin-top: 10px;
            position: relative;
            left: 250px;
            padding: 10px;
        }

        .box-content{
            width: 100%;
            background: #03103a;
            padding: 15px 25px;
            padding-bottom: 45px;
            margin-bottom: 20px;
            border: 1px solid whitesmoke;
        }

        .box-content i{
            color: white;
            font-size: 22px;
            padding: 0 3px;
            display: inline;
        }

        .box-content h2{
            display: inline;
            color: white;
            font-size: 18px;
            padding: 10px 0px;
        }

        .box-content h3{
            text-align: center;
            margin-top: 20px;
            color: white;
            font-size: 20px;
            padding: 10px 0px;
            font-weight: 300;
        }    
    /* fim Conteúdo pg main */

    /* metricas */
        
        .box-metricas{
            margin-top:16px;
            padding:0 15px;
        }

        .box-metricas h2{
            margin: 10px 0;
            color: white;
            font-size: 20px;
            font-weight: 600;
        }

        .box-metricas h2 > i{
            font-size: 20px;
        }

        .box-metrica-single{
            float: left;
            position: relative;
            width: 33.3%;
            background: #0072bc;
            border: 1px solid #c0cce6;
        }

        .box-metricas .box-metrica-single:nth-of-type(2){
            background: #39b54a;
        }

        .box-metricas .box-metrica-single:nth-of-type(3){
            background: #ed1c24;
        }

        .box-metrica-wrapper{
            padding: 10px 20px;
            text-align: left;
        }

        .box-metrica-wrapper i{
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            margin-top: 20px;
            margin-bottom: 15px;
            color: whitesmoke;
        }

        .box-metrica-wrapper h2{
            text-align: center;
            color: #fffafa;
            font-weight: 300; 
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 5px;
        }

        .box-metrica-wrapper p{
            text-align: center;
            font-weight: 600;
            font-size: 26px;
            color: #fffafa;
        }
    /* fim metricas */

    /* tabela responsiva */

        .table-responsive{
            color: white;
            max-width: 1280px;
            margin: 20px auto;
        }

        .table-responsive .row:nth-of-type(1){
            font-weight: bold;
            border-top: 1px solid #b0bec5;
            background: #001e55;
        }

        .row{
            padding: 8px 0;
            font-weight: 300;
            border-left: 1px solid #b0bec5;
            border-right: 1px solid #b0bec5;
            border-bottom: 1px solid #b0bec5;
        }

        .col{
            padding: 0 5px;
            float: left;
            width: 50%;
        }
    /* fim tabela responsiva */
/** Fim Página main **/

/* form */
    .box-content form{
        margin: 20px 0;
    }

    .box-content form label{
        width: 100%;
        margin: 6px 0;
        font-size: 18px;
        font-weight: 300;
        color: white;
        display: block;
        padding-left: 3px;
    }

    .box-content form select{
        width: 100%;
        padding: 8px;
        height: 35px;
        border-radius: 8px;
    }

    .box-content form input[type=text],
    .box-content form input[type=number],
    .box-content form input[type=password]{
        border: 0;
        border-radius: 8px;
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        height: 35px;
        padding: 0 5px;
        color: black;
        padding-left: 8px;
    }

    .box-content form input[type=file]{
        border: 0;
        width: 49%;
        color: white;
        border-radius: 10px;
        padding: 8px;
        border: 1px solid white; 
    }

    .box-content form input[type=submit]{
        border: 0;
        width: 30%;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 18px;
        background: #0a74b6;
        border: 0;
        font-size: 16px;
        font-weight: 600;
        color: white;
        transition: all 0.8s;
    }

    .box-content input[type=submit]:hover{
        background: #0ab6ad;
    }    
/* fim form*/

/* Classe Painel - Mensagens function alert() */
    .box-alert{
        width: 100%;
        padding: 5px 0;
        text-align: center;
    }

    .box-alert i{
        font-size: 15px;
    }

    .sucesso{
        margin-top: 8px;
        border-radius: 10px;
        font-weight: 300;
        font-size: 16px;
        background: #389e38;
        color: white;
    }

    .sucesso i{
        color: white;
    }

    .erro{
        border-radius: 10px;
        margin-top: 6px;
        font-weight: 300;
        font-size: 16px;
        background: rgb(155, 33, 33);
        color: white; 
    }

    .erro i{
        color: white; 
        padding: 0 5px;
    }
/* Fim Painel - Mensagens alert() */

.menu-active{
    background: #2c1e71;
}
/*
.menu-active::before{
  
}
*/

/* Add depoimento */
    .box-content form textarea{
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        height: 150px;
        padding: 0 5px;
        color: black;
        padding: 8px;
        resize: vertical;
    }

    .box-content form input[name=data]{
        width: 10%;
    }
/* Fim add depoimento*/

/* Tabelas e paginacao*/
    .wrapper-table{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
    }

    .wrapper-table h2{
        font-size: 15px;
        margin-left: 28px;
    }

    .wrapper-table table tr td i{
        font-size: 16px;
    }

    .wrapper-table .body a{
        margin-right: 13px;
        text-decoration: none;
    }

    table{
        width: 100%;
        min-width: 900px;
        margin: 20px 0;
        color: white;
        border: 1px solid white;
        border-collapse: collapse;
    }

    table tr:nth-of-type(1){
        background: #0f2a64;
        font-size: 15px;
        font-weight: 600;
    }

    table td{
        padding: 15px;
        font-size: 15px;
        border-bottom: 1px solid white;
    }

    a.btn-edit{
        color: white;
        text-decoration: none;
        transition: all 0.5s;
        padding: 4px 6px;
        white-space: nowrap;
        background: #1e88ca;
        border-radius: 10px;
    }

    a.btn-delete{
        color: white;
        text-decoration: none;
        transition: all 0.5s;
        padding: 4px 6px;
        background: darkred;
        white-space: nowrap;
        border-radius: 10px;
    }

    a.btn-view{
        color: white;
        text-decoration: none;
        transition: all 0.5s;
        padding: 4px 6px;
        background: #207920;
        white-space: nowrap;
        border-radius: 10px;
    }

    a.btn-edit:hover{background: lightseagreen}
    a.btn-delete:hover{background: #c00202;}
    a.btn-view:hover{background: #389e38;}

    .paginacao{
        text-align: center;
        margin-top: 20px;
    }

    .paginacao a{
        font-size: 14px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin: 0 8px;
        display: inline-block;
        padding: 3px 4px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: white;
        background: #151558;
    }

    .paginacao a.page-selected{
        background: rgb(120, 120, 220);
    }
/* Fim Tabelas e paginacao */

/* editar-site */
    .site h2{
        font-size: 22px;
        color: white;
    }
    .space{
        margin: 35px 0;
    }
/* fim editar-site */

/* listar-clientes e concessionárias */
    .box-single-wraper{
        float: left;
        width: 33.3%;
        padding: 20px;
    }

    .box-single{
        width: 100%;
        border: 1px solid #555555;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
        height: 192px;
        overflow-x: auto;
        border-radius: 10px;
        background: #000025;
    }

    .box-top{
        text-align: center;
        color: whitesmoke;
        padding: 8px 0;
        height: 94px;
        border-bottom: 1px solid #555555;
    }

    .box-top i{
        font-size: 28px;
    }

    .box-top img{
        border: 2px solid white;
        display: block;
        width: 80px;
        margin: 0 auto;
        border-radius: 50%;
    }

    .box-body{
        padding: 12px 8px;
    }

    .box-body p{
        color: whitesmoke;
        font-size: 14px;
    }

    .box-body p > span{
        color: honeydew;
    }

    .group-btn{
        margin-top: 8px;
        font-size: 14px;
    }

    .group-btn i{
        font-size: 15px;
    }

    .group-btn a{
        display: inline-block;
    }

    .group-btn .btn-edit{
        width: 82px;
        height: 23px;
        border-radius: 10px;
        padding: 2px 3px;
    }

    .group-btn .btn-delete{
        width: 82px;
        height: 24px;
        border-radius: 10px;
        padding: 2px 3px;
    }

    .group-btn .btn-view{
        margin-top: 6px;
        width: 188px;
        height: 24px;
        border: 1px solid #389e38;
        border-radius: 10px;
        padding: 1px 3px;
    }

    .wrapper-table table .body td .btn-view{
        padding: 3px 6px; 
        font-size: 14px;
        white-space: nowrap;
    }

    .boxes{
	    display: flex;
	    flex-wrap: wrap;
    }

    .box-imgs img.img-square{
        width: 250px;
        height: 200px;
        display: block;
        margin:8px auto;
        border-radius: 8px;
    }

    .single-btn .btn-delete i{
        font-size: 15px;   
    }

    .single-btn .btn-delete{
        font-size: 17px;
        text-align: center;
        width: 200px;
        height: 55px;
        border-radius: 10px;
        padding: 17px 0;
        background-color: darkred;
        box-shadow: 8px 8px 4px #000;
        float: inline-end;
    }

    .single-btn .btn-delete:hover{background: #c00202;}
/* fim listar-clientes e concessionárias */

/* visualizar automoveis */
    .card-title{
        width: 100%;
        padding:6px;
        color: white;
        margin:10px 0;
        font-size: 15px;
        font-weight: bold;
        background: #0091ea;
        border-radius: 10px;
    }

    .card-title h2{
        font-size: medium;
        padding: 0;
    }

    .card-title i:nth-last-of-type(1){
        font-size: 13px;
    }

    .row1{
        float: left;
        width: 20%;
        padding:8px 10px;
    }
    
    .row1 img{
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    .row2{
        float: left;
        width: 80%;
        padding:8px 10px;
    } 

    .row2 span{
        float: inline-end;
        font-weight: bold;
    }
    
    .row2 p{
        font-size: 15px;
        font-weight: bold;
        padding:8px 2px;
        color: whitesmoke;
        border-bottom: 1px solid white;
    }

    .row2 p > i{
        font-size: 15px;
    }

    .box-single-img{
        width: 100%;
        background: #000025; 
        border-radius: 15px; 
        border: 1px solid #555555;
        padding: 8px 8px;
        margin: 0;
    }

    .box-imgs{
        width: 100%;
    }
/* fim visualizar automoveis */

/* barra de pesquisa */
    .search-box{
        position: relative;
        float: right;
    }

    .search-box form{
       background-color: #000025;
       padding: 10px;
       border-radius: 40px;
       width: 480px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }


    .search-txt{
        margin-left: 20px;
    }
    
    .search-box form input[type=text]{
        max-width: 370px;
        height: 30px;
        border: 0 none;
        background: none;
        outline: 0 none;
        padding: 0 10px;
        color: #fffafa;
        font-size: 14px;
        transition: 0.5s;
    }

    .search-btn{
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #011844;
        transition: 0.5s;
    }

    .search-btn:hover{
        background-color: #06995c;
    }

    .busca-result{
        text-align: center;
        color: white;
        font-size: 15px;
        padding-left: 20px;
    }

    .busca-result b{
        color: crimson;
    }
/* fim barra de pesquisa*/

@media screen and (max-width: 1024px){
    .box-metrica-single{
        width: 100%;
    }
    .box-single-wraper{
        width: 100%;
    }
    .form-group {
        width: 100% !important;
        display: block;
        padding: 0 !important;
    }
}

@media screen and (max-width: 768px){
	.content{
		width: 100%;
		left: 0;
	}

	header{
		left: 0;
		width: 100%;
	}

    .search-box{
        float: none;
    }

    .search-box form{
        width: 100%;
    }

    .search-box form input[type=text]{
        width: 100%;
    }

    .row1,.row2{
        width: 100%;
    }

    .row1 img{
        height: 250px;
    }
}

@media screen and (max-width: 500px){
	.w50{
		width: 100%;
	}
	.box-single-metrica{
		width: 100%;
		padding-top: 40%;
	}
}

@media screen and (max-width: 400px){
	.box-metrica-wraper h2{
	    font-size: 24px;
	}
	.box-metrica-wraper p{
        padding: 10px 0;
        font-size: 22px;
	}
	.menu-wraper{
		width: 200px;
	}
}

@media screen and (max-width: 380px){
	.items-menu a{
		font-size: 15px;
	}
}